.body{
    background-color: cyan;
    padding-top: 50px;
    font-size: 20px;
}
.legend{
    font-weight: bold;
    font-size: 30px;
    margin-left: 40px;
}
form{
    border-radius: 15px;
    width: 60%;
    padding: 50px;
    margin: auto;


}
label{
    font-weight: bold;
    margin-left: 40px;

}
.b1{
    background-color: lawngreen;
    margin:50px;
    width: 10%;
}
.b2{
    background-color: rebeccapurple;
    margin:50px;
    width: 10%;
}
input[type=text],input[type=date]{
    width: 30%;
    padding-left: 10px;
    float: right;
    margin-right: 350px;
    height: 30px;




}
input{
    margin-left: 30px;

}
select{
    margin-left: 30px;
}
textarea{
    margin-left: 30px;
}
.description{
    float: right;
     margin-right:365px;
}
.priority{
    float: right;
    margin-right:205px;
}
.assign{
    float: right;
    margin-right:485px;
    margin-top: 10px;
}